---
title: Examples
layout: default
page_header: Past work
gallery-fliter:
- {title: 'All', name: 'all'}
- {title: 'Clients', name: 'clients'}
- {title: 'Personal ', name: 'personal'}
gallery-videos:
- {fliter: 'clients',  video-id: 'mR1WF9cLr7Y'}
- {fliter: 'clients',  video-id: '5y7OYoBUYm4'}
- {fliter: 'personal',  video-id: 's8KIyuWK4JQ'}
- {fliter: 'personal',  video-id: 'DqP6lLupcdI'}
- {fliter: 'personal',  video-id: 'qeTs05gFkT0'}
- {fliter: 'clients',  video-id: 'x3WoE5XLFmo'}
- {fliter: 'clients',  video-id: 'mu0SXVGkiP4'}
- {fliter: 'clients',  video-id: 'MFHTw0XON5k'}
- {fliter: 'personal',  video-id: '8u2C9SoXm1A'}
- {fliter: 'clients',  video-id: 'FSeDApAmvVY'}
- {fliter: 'clients',  video-id: 'Yj2kzgBri0s'}
- {fliter: 'personal',  video-id: 'fw_A7r4zvqw'}
- {fliter: 'personal',  video-id: 'pQN6LOOqJ7g'}
- {fliter: 'personal',  video-id: 'tvvBZUwAcbo'}
- {fliter: 'personal',  video-id: 'e8wsfvgAG0A'}
- {fliter: 'personal',  video-id: '7CJwb8FqaMs'}
- {fliter: 'personal',  video-id: '2VHgpHHtW_U'}
---
{% include nav_page.html %}
{% include gallery.html %}
