// -----------------------------------------------------------------------------
// This file contains all styles related to the about component.
// -----------------------------------------------------------------------------
.about {
    background-color: #35445E;

    .header {
        font-family: $main-font;
        font-size: 2em;
        color: #ffffff;
    }

    .sub_header {
        font-family: $second-font;
        font-size: 1.45em;
        color: #EBEBEB;
        font-style: italic;
    }

    .text {
        font-family: $second-font;
        font-size: 1.25em;
        color: #EBEBEB;
    }

    .container {
        max-width: 75%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .about {
        .container {
            max-width: 90%;
        }
    }
}

// .clouds {
//     width: 200x;
//     height: 300px;
//     position: absolute;
// }

// .cloud1 {
//     top: 80px;
//     z-index: 100;
//     fill: #eee;

//     /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
//     animation: move 20s linear infinite;
// }

// @keyframes move {
//     from {
//         -webkit-transform: translateX(-400px);
//     }

//     to {
//         -webkit-transform: translateX(1350px);
//     }
// }
