// -----------------------------------------------------------------------------
// This file contains all styles related to the contact component.
// -----------------------------------------------------------------------------
.contact-form {
    margin-top: 15px;

    .textarea {
        min-height: 220px;
        resize: none;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .details {
        .sub-header {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .checkboxs {
        padding-top: 20px;
    }
}

.form-control {
    box-shadow: none;
    border-color: rgb(88, 88, 88);
    height: 49px;

    &:focus {
        box-shadow: none;
        border-color: #00b09c;
    }
}

.button {
    padding: 18px;
}

.main-btn {
    background: $brand-color-alt;
    border-color: $brand-color;
    color: #fff !important;

    :hover {
        background: lighten($brand-color, 0.15);
        color: #fff !important;
    }
}

.contact-checkbox {
    div {
        clear: both;
        overflow: hidden;
    }

    label {
        width: 100%;
        border-radius: 3px;
        border: 1px solid rgb(88, 88, 88);
    }

    input[type="radio"],
    input[type="checkbox"] {
        &:empty {
            display: none;

            ~ label {
                position: relative;
                line-height: 1.5em;
                margin-top: 2em;
                cursor: pointer;
                user-select: none;
                padding: 10px 10px 10px 50px;
                font-family: $second-font;
                font-size: 1em;
                color: #000000;
                font-weight: normal;

                &:before {
                    position: absolute;
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 2.5em;
                    background: rgb(88, 88, 88);
                    border-radius: 3px 0 0 3px;
                }
            }
        }

        &:hover:not(:checked) ~ label {
            color: rgb(70, 70, 70);

            &:before {
                text-indent: .9em;
                color: rgb(88, 88, 88);
            }
        }

        &:checked ~ label {
            color: rgb(70, 70, 70);

            &:before {
                text-indent: .9em;
                color: #333;
                background-color: rgb(88, 88, 88);
            }
        }

        &:focus ~ label:before {
            box-shadow: 0 0 0 3px rgb(88, 88, 88);
        }
    }

    &-default {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #333;
                background-color: rgb(88, 88, 88);
            }
        }
    }

    &-primary {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: $brand-color;
            }
        }
    }

    &-success {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #5cb85c;
            }
        }
    }

    &-danger {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #d9534f;
            }
        }
    }

    &-warning {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #f0ad4e;
            }
        }
    }

    &-info {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #5bc0de;
            }
        }
    }
}

@media (max-width: 768px) {}

@media (max-width: 991px) {
    .contact-form {
        .form-group {
            padding-top: 15px;
        }
    }
}

.contact {
    .header {
        font-family: $main-font;
        color: $brand-color;
        font-size: 2.15em;
    }

    .sub-header {
        font-family: $main-font;
        color: $brand-color-alt;
        font-size: 1.25em;
    }
}

#contact {
    background-color: $sectionBackground-light;
}
