// -----------------------------------------------------------------------------
// This file contains all styles related to the gallery`` component.
// -----------------------------------------------------------------------------
#gallery {
    padding-top: $sectionSpacing-main;
    padding-left: 100px;
    padding-right: 100px;

    .gallery {
        display: inline-block;
    }

    .title {
        font-size: 2em;
        font-family: $main-font;
        color: $brand-color;
        font-weight: 700;
        margin: 0px;
        padding-bottom: 12px;
    }

    .filter {
        padding-bottom: 10px;
    }

    .filter-button {
        font-size: 1.15em;
        border: 1px solid $brand-color-alt;
        border-radius: 5px;
        text-align: center;
        color: $brand-color;

        &:hover {
            font-size: 1.15em;
            border: 1px solid $brand-color-alt;
            border-radius: 5px;
            text-align: center;
            color: #ffffff;
            background-color: $brand-color-alt;
        }
    }

    .btn-default {
        &:active {
            .filter-button {
                &:active {
                    background-color: $brand-color-alt;
                    color: #ffffff;
                }
            }
        }
    }

    .video {
        margin-bottom: 30px;

        a > img:hover {
            border: 0px solid rgba($brand-color-alt, 0.75);
            transition: all 1s;
        }
    }

    .fancybox-nav {
        width: 60px;
    }

    .fancybox-nav span {
        visibility: visible;
        opacity: 0.5;
    }

    .fancybox-nav:hover span {
        opacity: 1;
    }

    .fancybox-next {
        right: -60px;
    }

    .fancybox-prev {
        left: -60px;
    }
}

@media (max-width: 768px) {
    #gallery {
        padding-left: 25px;
        padding-right: 25px;
    }
}
