<div class="container about">
  <div class="header">
    ABOUT ME
  </div>
  <div class="sub_header">
    Filmmaker . Director . Motion Designer .VFX Editor
  </div>
  <div class="text">
    I do PMVs, AMVs, random VFX videos, contents full of Motion Graphics, CC, and anything else that you can imagine from an
    editor. I have 7 years involvement in making visual effects and 2 years of motion designing. I separate them both so
    you wouldn't expect me to be so professional at everything. I utilize both of my different abilities to make an exceptional
    outcome, and I guarantee you this efficacy for the content that I'll be making for myself and the clients! ​ I have worked
    with several people. I have done various commercial music videos, motion designing work throughout years and I do believe
    that I can do your required work as intended!
  </div>
</div>
