<div id="contact">
  <div class="container contact">
    <div class="header text-center">
      {{ site.data.settings.contact-header }}
    </div>
    <form role="form" data-toggle="validator" id="contact-form" class="contact-form" action="https://formspree.io/{{ site.email }}"
      method="POST">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" name="Name" autocomplete="off" id="Name" placeholder="{{ site.data.settings.contact-name.placeholder }}"
              data-error="{{ site.data.settings.contact-name.data-error }}" required>
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="email" class="form-control" name="Email" autocomplete="off" id="email" placeholder="{{ site.data.settings.contact-email.placeholder }}"
              data-error="{{ site.data.settings.contact-email.data-error }}" required>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group package-qustion">
            <div class="sub-header">{{ site.data.settings.contact-packages-header }}
              <div>
                <div class="radio radio-custom radio-inline">
                  <input type="radio" id="inlineRadio1" value="yes" name="package-qustion" checked="">
                  <label for="inlineRadio1">Yes</label>
                </div>
                <div class="radio radio-custom radio-inline">
                  <input type="radio" id="inlineRadio2" value="no" name="package-qustion">
                  <label for="inlineRadio2">No</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="conditional" data-cond-option="package-qustion" data-cond-value="yes">
            <div class="form-group packages">
              <div class="sub-header">
                {{ site.data.settings.contact-packages-header }}
              </div>
              {% for item in site.data.settings.contact-packages %}
              <div class="checkbox {% if forloop.last == false %}spacing{% endif %} checkbox-custom">
                <input type="checkbox" name="{{ item.name }} packages" id="checkbox{{ item.checkbox-number }}" {{ item.checked}}>
                <label for="checkbox{{ item.checkbox-number }}">{{ item.description }}
                </label>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="row message">
        <div class="col-md-12">
          <div class="form-group">
            <textarea class="form-control textarea" rows="3" name="{{ site.data.settings.contact-messages.name }}" id="Details" placeholder="{{ site.data.settings.contact-messages.placeholder }}"></textarea>
          </div>
        </div>
        <div class="col-md-3 col-md-offet-9 button">
          <button type="submit" class="btn btn-block main-btn">Send a message</button>
        </div>
      </div>
    </form>
  </div>
</div>
