<div id="contact">
  <div class="container contact">
    <div class="header text-center">
      Contact me
    </div>
    <form role="form" data-toggle="validator" id="contact-form" class="contact-form" action="https://formspree.io/{{ site.email }}"
      method="POST">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" name="Name" autocomplete="off" id="Name" placeholder="Name *" data-error="Pleaase enter your name."
              required>
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="email" class="form-control" name="Email" autocomplete="off" id="email" placeholder="E-mail *" data-error="Please make sure your email is either vaild or is filled in."
              required>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group checkboxs">
            <div class="contact-checkbox">
              <div class="sub-header">
                Which package do you want?
              </div>
              <div class="contact-checkbox-primary">
                <div class="contact-checkbox-primary">
                  <input type="checkbox" name="basic-videos-option" id="checkbox1" checked/>
                  <label for="checkbox1">Basic Package - If you ever need subtitling, some text work or in general simpler effects for a music video,
                    the price is $10 per min! ($6/hr rate)
                  </label>
                </div>
                <input type="checkbox" name="advanced-videos-option" id="checkbox2" />
                <label for="checkbox2">Advanced Package - I will be helping you produce a music video that is strongly based on some Motion Graphics,
                  Typography, 3D Camera Work, Color Grading and much more. It depends on your approach, it can go $60 per
                  min ($10/hr rate)
                </label>
              </div>
              <div class="contact-checkbox-primary">
                <input type="checkbox" name="chorus-videos-option" id="checkbox3" />
                <label for="checkbox3">Chorus MV Package - It would be on a fixed number which is $35 per min!
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row details">
        <div class="col-md-12">
          <div class="sub-header">
            Any more details or info you want to add?
          </div>
          <div class="form-group">
            <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Details"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offet-9 button">
          <button type="submit" class="btn  btn-block main-btn">Send a message</button>
        </div>
      </div>
    </form>
  </div>
</div>
