<!--gallery -->
<div class="container-fluid" id="gallery">
  <div class="row">
    <div class="gallery col-md-12">
      <h1 class="title text-center">Past works</h1>
    </div>
    <div align="center" class="filter-button-group">
      {% for item in page.gallery-fliter %}
      <button class="btn btn-default filter-button" data-filter="{{ item.name }}">{{ item.title}}</button>{% endfor %}
    </div>
    <br/>
  </div>

  {% for item in page.gallery-videos %}
  <div class="col-md-12 col-sm-6 col-md-4 filter {{ item.fliter }} video">
    <a class="thumbnail fancybox" rel="ligthbox" href="https://www.youtube.com/embed/{{ item.video-id }}?rel=0&showinfo=0&autoplay=1">
      <img class="img-responsive" src="https://img.youtube.com/vi/{{ item.video-id }}/sddefault.jpg"/>
    </a>
  </div>{% endfor %}
</div>
