<!-- Privacy Statement content box -->
<div>
  <div class="container">
    <div class="page-header text-center legal-header">
      <h1>Terms of Service</h1>
    </div>
  </div>
  <div class="container">
    <div class="col-md-12">
      <div class="terms-of-service-text">
        <p>This Agreement was last modified on {{ site.data.settings.modified-date }}. Please read these Terms of Service (hereafter
          known as &ldquo;Agreement&rdquo; and &ldquo;Terms of Service&rdquo;) carefully before using
          <a href="{{ site.subpath }}">{{ site.data.settings.url-min }}</a>(hereafter known as &ldquo;the Site&rdquo;) operated by {{ site.title }} also be {{ site.title-alt }}) (hereafter known as &ldquo;us&rdquo;, &ldquo;we&rdquo;, and &ldquo;our&rdquo;). This Agreement
          sets forth the legally binding terms and conditions for your use of the Site. By accessing or using the Site or
          any other of our services in any manner, including, but not limited to, visiting or browsing the Site or contributing
          content or other materials to the Site, you agree to be bound by these Terms of Service. Capitaliz
          <p>
            <strong>Summary:</strong>We’ll always do our best to fulfil your needs and meet your expectations, but it’s important
            to have things written down so that we both know what’s what, who should do what and when, and what will happen
            if something goes wrong. In this contract you won’t find any complicated legal terms or long passages of unreadable
            text. We’ve no desire to trick you into signing something that you might later regret. What we do want is what’s
            best for both parties, now and in the future. So in short; You customer, located at customer address (“You”)
            are hiring us [Alan Crytex] (“We or Us”) to: • Design and develop a lyric video for the music For the estimated
            total price of total as outlined in our previous correspondence. Of course it’s a little more complicated, but
            we’ll get to that. What do both parties agree to? You: You have the authority to enter into this contract on
            behalf of yourself, your company or your organisation. You’ll give us the assets and information we tell you
            we need to complete the project. You’ll do this when we ask and provide it in the formats we ask for. You’ll
            review our work, provide feedback and approval in a timely manner too. Deadlines work two ways, so you’ll also
            be bound by dates we set together. You also agree to stick to the payment schedule set out at the end of this
            contract. Us: We</span>
          </p>
          <p>
            <strong>Intellectual Property:</strong> The Site and its original content, and functionality are owned by {{ site.title
            }} and are protected by international copyright, trademark, patent, trade secret and other intellectual property
            and proprietary rights laws. </span>
          </p>
          <p>
            <strong>Termination:</strong> We may terminate your access to the Site, without cause or notice, which may result in
            the forfeiture and destruction of all information associated with you. All provisions of this Agreement that
            by their nature should survive termination shall survive termination, including, without limitation, ownership
            provisions, warranty disclaimers, indemnity, and limitations of liability.
            </span>
          </p>
          <p>
            <strong>Links To Other Sites:</strong> Our Site may contain links to third-party sites that are not owned or controlled
            by {{ site.title }}. {{ site.title }} has no control and assumes no responsibility for, the content, privacy
            policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions
            and privacy policy of any third-party site that you visit. </span>
          </p>
          <p>
            <strong>Data Collection:</strong> {{ site.title }} reserves the right for its administrative staff to, whether it be
            through text chat, server logs, virtual player data, or otherwise potentially incriminating data, record its
            community members. The data collected through these means may be used by {{ site.title }} against any party in
            the context of legal disputes, criminal activity, or other similar situations for which the data is deemed fit
            by {{ site.title }}. </span>
          </p>
          <p>
            <strong>Governing Law: </strong>This Agreement (and any further rules, policies, or guidelines incorporated by reference)
            shall be governed and construed in accordance with the laws of Wisconsin, United States, without giving effect
            to any principles of conflicts of law.</span>
          </p>
          <p>
            <strong>Changes To This Agreement:</strong> We reserve the right to, at our sole discretion, modify or replace these
            Terms of Service by posting the updated terms on the Site. Your continued use of the Site after any such changes
            constitutes your acceptance of the new Terms of Service. Please review this Agreement periodically for changes.
            If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue
            to access the Site or any other services to which the Terms apply. </span>
          </p>
          <p>
            <strong>Contact Us:</strong> If you have any questions about this Agreement, please contact us
            <a href="mailto:{ site.data.settings.contact }}">here</a>.
            </span>
          </p>
          <p>
            <strong>Privacy Statement:</strong> To view our Privacy Statement click
            <a href="{{ site.subpath }}/privacy-statement/">here</a>
            </span>
          </p>
      </div>
    </div>
  </div>
</div>
